:root {
  --primary-color: #3bacb6;
  --secondary-color: #2f8f9d;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Overpass", sans-serif;
  margin: 80px auto;
  max-width: 800px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 48px;
}

h1 {
  font-size: 96px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.contact-icons {
  margin: 10px auto;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  text-align: center;
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  width: 100px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.navigation-links a:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.about-me-link {
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.contact-me-link {
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.projects-link {
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.homepage-link {
  color: var(--primary-color);
  display: block;
  text-decoration: none;
}

.homepage-link:hover {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  background: #b3e8e5;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin: 10px;
}

.about-paragraphs ul {
  background: #b3e8e5;
  padding: 20px 40px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  margin: 10px;
}

.skills-section li {
  background-color: #b3e8e5;
  margin-top: 5px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.projects img {
  border: 1px solid #fff;
  max-width: 400px;
  margin: 40px 20px;
}

.projects a {
  text-decoration: none;
}

.project-one,
.project-two {
  margin-top: 20px;
}

.project-one {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
}

.project-one p {
  margin: 100px 20px;
  border-radius: 4px;
  padding: 10px;
}

.project-two {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
}

.project-two p {
  margin: 120px 20px;
  border-radius: 4px;
  padding: 10px;
}
